<div class="container">
    <!-- Formulaire de connexion -->
    <div class="login-form">
        <h2>Compte existante</h2>
        <form action="/auth", method="post">
            <label for="username">Nom de l'utilisateur</label>
            <input type="text" id="username" name="username">

            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="password">

            <button type="submit">s'identifier</button>
        </form>
    </div>

    <!-- Formulaire de création de compte -->
    <div class="register-form">
        <h2>Nouveau compte</h2>
        <form action="/auth", method="post">
            <label for="new-username">Nom de l'utilisateur</label>
            <input type="text" id="new-username" name="new-username">

            <label for="new-password">Mot de passe</label>
            <input type="password" id="new-password" name="new-password">

            <label for="full-name">Nom complet</label>
            <input type="text" id="full-name" name="full-name">

            <label for="email">Adresse e-mail</label>
            <input type="email" id="email" name="email">

            <button type="submit">s'enregistrer</button>
        </form>
    </div>
    <div class="link-report"></div>
        <a href="/report">Signaler un incident</a>
        <a href="/report">Index</a>
</div>