<main class="index">
    <section class="index-top">
        <a href="/report">Ajouter un incident</a>
        <form action="/" method="post" class="incident-search">
            <p>Rechercher un incident :</p>
            <input type="text">
            <button type="submit">Rechercher</button>
        </form>
    </section>
    <section class="incidents-page">
        <div class="list-header">
            <p>Description</p>
            <p>Adresse</p>
            <p>Rapporté par</p>
            <p>Date</p>
        </div>
        <div class="incidents-list">
            <% incidents.forEach((incident) => { %>
            <div class="incident">
                <p><%= incident.description %></p>
                <p><%= incident.address %></p>
                <p><%= incident.user %></p>
                <p><%= incident.date %></p>
            </div>
            <% }); %>
        </div>
        
    </section>
</main>