<main class="report">
    <section class="report_page">
        <h2>Signaler un nouvel incident</h2>
        
        <form action="/report" method="post">
            <label for="description">Description</label>
            <textarea name="description" id="description" placeholder="Décrivez l'incident ici"></textarea>
            <label for="address">Adresse</label>
            <textarea name="address" id="address" placeholder="Indiquez l'adresse de l'incident"></textarea>
            <button type="submit">Reporter</button>
        </form>
    </section>
</main>
