<main class="report">
    <section class="report_page">
        <h2>Signaler un nouvel incident</h2>
        
        <p>Description</p>
        <form action="">
            <textarea type="text"></textarea>
        </form>

        <p>Addresse</p>
        <form action="">
            <textarea type="text"></textarea>
        </form>

        <a href="/">Soumettre</a>
    </section>
</main>
